# Core AI & Deep Learning
torch==2.1.0
torchvision==0.16.0
numpy==1.26.4
xformers==0.0.22.post7
spconv-cu121==2.3.8

# Generative AI & HuggingFace Models
diffusers==0.30.3
transformers==4.41.2
peft==0.10.0
accelerate==0.30.1
huggingface_hub

# NLP (Scene Graph Parsing)
spacy>=3.5.0

# 3D Processing & Geometry
trimesh==4.5.3
plyfile==0.9
git+https://github.com/EasternJournalist/utils3d.git@9a4eb15e4021b67b12c460c7057d642626897ec8
pymeshfix
pyvista
igraph==0.11.8
xatlas
scipy

# API Web Server & Local Tunnel
fastapi
uvicorn
pyngrok

# Image & Video Processing
pillow==10.4.0
imageio==2.36.1
imageio-ffmpeg==0.5.1
opencv-python-headless
tqdm
easydict
rembg[cpu]
